* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.chat-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.chat-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-box {
  height: 100%;
  width: 100%;
  padding: 5%;
  overflow-x: hidden;
  overflow-y: auto;
}

.buttons-wrapper {
  display: flex;
}

.chat-input {
  width: 100%;
}

.message-wrapper {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

.message-wrapper--left::after {
  content: "";
  flex: 1;
}

.message-wrapper--right::before {
  content: "";
  flex: 1;
}

.message {
  max-width: 90%;
  border-radius: 20px;
  padding: 5px 10px;
  word-wrap:  break-word;
}

.message--left {
  background-color: lightsalmon;
  color: white;
}

.message--right {
  background-color: #e9ebee;
  color: black;
}

.hidden {
  display: none;
}