@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
}

:root {
  --chat-color: lightsalmon;
  --chat-padding: 5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.chat-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.chat-info {
  height: 2rem;
  padding: 0 var(--chat-padding);
  background-color: var(--chat-color);
  color: white;
}

.chat-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-box {
  height: 100%;
  width: 100%;
  padding: 0 var(--chat-padding);
  overflow-x: hidden;
  overflow-y: auto;
}

.buttons-wrapper {
  display: flex;
}

.chat-input {
  width: 100%;
}

.message-wrapper {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

.message-wrapper--left::after {
  content: "";
  flex: 1;
}

.message-wrapper--right::before {
  content: "";
  flex: 1;
}

.message {
  max-width: 90%;
  border-radius: 20px;
  padding: 5px 10px;
  word-wrap:  break-word;
}

.message--left {
  background-color: #e9ebee;
  color: black;
}

.message--right {
  background-color: var(--chat-color);
  color: white;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}